<?xml version="1.0"?>
<configuration>
   <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
 <connectionStrings>
      <add name="Default"
            providerName="System.Data.SqlClient"
            connectionString="Data Source=daqsql04.directaxis.co.za\sql;user id=Dalas;password=DALAS;Initial Catalog=DTS;enlist=false" />
  </connectionStrings>
</configuration>